<!doctype html>
                    <html lang="en">
                      <head>
                        <meta charset="utf-8">
                        <link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
                        <link rel="stylesheet"
                    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
                    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
                    crossorigin="anonymous">
                        <title>Варианты выбора!</title>
                      </head>
                        <h2>Мое предложение {{ planet }}</h2>

                        <h7>{{ f_p }}</h7>
                      {% for num, facts in p.items() %}
                            {% if num == '1' %}
                                {% set color = 'primary' %}
                            {% elif num == '2' %}
                                {% set color = 'success' %}
                            {% elif num == '3' %}
                                {% set color = 'danger' %}
                            {% elif num == '4' %}
                                {% set color = 'warning' %}
                            {% else %}
                               {% set color = 'info' %}
                            {% endif %}
                      <div class="alert alert-{{ color }}" role="alert">
                            {{ facts }}
                        </div>{% endfor %}

                      </body>
                    </html>