<!doctype html>
                    <html lang="en">
                      <head>
                        <meta charset="utf-8">
                        <link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
                        <link rel="stylesheet"
                    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
                    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
                    crossorigin="anonymous">
                        <title>Варианты выбора!</title>
                      </head>
                      <body>
                        <h1>Мое предложение: {planet_name}</h1>
                        <h2>Эта планета близка к Земле;</h2>
                        <div class="alert alert-primary" role="alert">
                      На ней много необходимых ресурсов;
                        </div>
                        <div class="alert alert-success" role="alert">
                      На ней есть вода и атмосфера;
                        </div>
                        <div class="alert alert-secondary" role="alert">
                      На ней есть небольшое магнитное поле;
                        </div>
                        <div class="alert alert-warning" role="alert">
                      Наконец, она просто красива!
                        </div>
                      </body>
                    </html>