<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Колонизация</title>
</head>
<body>
<h1>Жди нас, Марс!</h1>
<img src="{url_for('static', filename='img/mars.jpg')}"
                        class="img-fluid"
                        alt="здесь должна была быть картинка, но не нашлась"
                        width=400>
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}"/>
<div class="alert alert-primary" role="alert">
    Вот она какая, красная планета.
</div>
</body>
</html>